services:
  be:
    build:
      context: ../be
    container_name: be
    image: nexus.tcgroup.vn/tcsoft/smart_process_data_be:0.0.1
    restart: always
    platform: linux/amd64
    volumes:
      - "./media:/app/media"
      - "./static:/app/static"
      - "./data:/app/data"
    env_file:
      - ../be/.env
    ports:
      - "18000:8000"

  fe:
    build:
      context: ../fe
    container_name: fe
    image: nexus.tcgroup.vn/tcsoft/smart_process_data_fe:0.0.1
    restart: always
    platform: linux/amd64
    ports:
      - "18001:80"
    depends_on:
      - be



